.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(
    90deg,
    rgba(253, 254, 255, 1) 0%,
    rgba(208, 227, 231, 1) 48%,
    rgba(163, 236, 251, 1) 100%
  );
}

.App > h1 {
  color: gray;
  border: 1px #ccc solid;
  background-color: white;
  display: inline-block;
  padding: 5px 10px;
}
